     
      img {
        max-width:100%;
     }

     .column {
      display: inline-block;
     width: 48%;
     }

     .col1{
      
      background-color: red;
     }
    
     .col2 {
      display: inline-block 90%;
      background-color: pink;
     }

     .title {
      font-size: 45%;
     }

     .col1 h1 {
      color: white;
     }

     #uno {
      border: 12px solid black;
     }
     
     h1.title {
      font: 40%;
     }

     .hero{
        background-image: url(ryan.png);
        background-repeat: no-repeat;
        position: relative;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: (-50%, -50%);
        
        }

        .intro {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: (-50%, -50%);
        }
        /**ABOUT SECTION**/
        .container {
         max-width: 900px;
         display: block;
         margin: auto;
        }

        .col-30 {
         width: 29%;
        }

        .col-70 {
         width: 69%;
        }

        .content{
         vertical-align: top;
         padding-left: 2px;
         padding-bottom: 30px;
        }
        
        @media screen and (max-width: 767px)  {
           .column {
             display: block;
             width: 100%;
           }
        }
      
        .no-list, .nav-items {
         list-style: none;
         padding: 0;  /* top right buttom left */
        }

        .nav-items li {
           display: inline-block;
           width: 100px;
        }

        .nav-items li:hover {
         background-color: blue;
         cursor: pointer;
        }